@use "vars" as *;

body {
	padding: 100px 0;
	background: $bg;
	color: $text;
	line-height: 150%;
	font-size: 16px;
	font-weight: 500;
	font-family: Montserrat, sans-serif;
	scroll-margin: 50px;
	word-break: break-word;
}

.modals {
	position: fixed;
	inset: 0;
	z-index: 100;
	pointer-events: none;
	transition: .2s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	
	&:has(.modal) {
		pointer-events: auto;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(10px);
	}
}

p {
	margin-bottom: 15px;
}

.hljs {
	background: transparent !important;
	padding: 0 !important;
}

.wrapper {
	display: flex;
	gap: 30px;
	
	&__body {
		width: calc(100% - 330px);
	}
}

@media screen and (max-width: 1050px) {
	body {
		font-size: 13px;
	}
	
	.wrapper {
		&__body {
			width: 100%;
		}
	}
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

*::-webkit-scrollbar-track {
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background-color: #333;
	border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
	background-color: #555;
}
